<?xml version="1.0"?>
<menuSection>
  <menuInformation>
    <add menuIndex ="1" menuName ="首页" apiName=""/>
    <add menuIndex ="2" menuName ="获取详情" apiName="GetOrderBuyerInfo"/>
    <add menuIndex ="3" menuName ="3" apiName=""/>
    <add menuIndex ="4" menuName ="4" apiName=""/>
    <add menuIndex ="5" menuName ="5" apiName=""/>
    <add menuIndex ="6" menuName ="6" apiName=""/>
  </menuInformation>
</menuSection>