<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <alias alias="perContext" type="JXT.PrimaryKey.Batman.Dal.Container.Unity.PerHttpContextLifetimeManager, JXT.PrimaryKey.Batman.Dal" />
  <alias alias="single" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
  <alias alias="perThreadAuto" type="JXT.PrimaryKey.Batman.Dal.Container.Unity.CanRemovePerThreadLifetimeManager, JXT.PrimaryKey.Batman.Dal" />
  <alias alias="RepositoryContext" type="JXT.PrimaryKey.Batman.Dal.Repositories.RepositoryContext, JXT.PrimaryKey.Batman.Dal" />
  <container name="Repository">
    <types>
      <type name="defaultContext" type="JXT.PrimaryKey.Batman.Dal.Repositories.RepositoryContext, JXT.PrimaryKey.Batman.Dal"
            mapTo="JXT.PrimaryKey.Batman.Dal.SqlServer.SqlServerRepositoryContext, JXT.PrimaryKey.Batman.Dal">
        <lifetime type="perThreadAuto" />
        <constructor>
          <param name="connectionName" value="usersystem" />
        </constructor>
      </type>
    
      <type type="JXT.PrimaryKey.Batman.Dal.Repositories.UserRepositories.IUserInformationRepository, JXT.PrimaryKey.Batman.Dal.Repositories"
            mapTo="JXT.PrimaryKey.Batman.Dal.Repositories.UserInformationRepository, JXT.PrimaryKey.Batman.Dal.Repositories">
        <constructor>
          <param name="context" type="RepositoryContext">
            <dependency name="defaultContext" />
          </param>
        </constructor>
        <lifetime type="perThreadAuto" />
      </type>
      
    </types>
  </container>
  <container name="Service">
    <types>
      <type type="JXT.PrimaryKey.Batman.Services.InterfaceServices.IUserInformationServices, JXT.PrimaryKey.Batman.Services"
            mapTo="JXT.PrimaryKey.Batman.Services.UserInformationServices, JXT.PrimaryKey.Batman.Services">
        <lifetime type="perThreadAuto" />
      </type>
     
    </types>
  </container>
  
  <container name="Default">
    <types>
      <type type="JXT.PrimaryKey.Batman.Dal.Specifications.ISpecificationFactory,JXT.PrimaryKey.Batman.Dal"
            mapTo="JXT.PrimaryKey.Batman.Dal.Specifications.Expressions.ExpressionSpecificationFactory,JXT.PrimaryKey.Batman.Dal">
        <lifetime type="single" />
      </type>
      <type type="JXT.PrimaryKey.Batman.Core.Cache.ICache, JXT.PrimaryKey.Batman.Core"
            mapTo="JXT.PrimaryKey.Batman.Dal.Cache.HttpCache, JXT.PrimaryKey.Batman.Dal">
        <lifetime type="single" />
      </type>
      
    </types>
  </container>
</unity>
